/* ----- general styling ----- */
.container {
		padding-left: 0;
		padding-right: 0;
}

.container .no-pad {
		padding-left: 0;
		padding-right: 0;
}

.bold {
	font-weight:bold;
	padding-top:8px;
}

.saved-item .pad-fix {
	padding: .5rem 0;
}

@media(max-width:767px) {
	.mobile-show {
		display: block;
	}
	.mobile-hide {
		display: none;
	}
}

@media(min-width:767px) {
	.mobile-show {
		display: none;
	}
	.mobile-hide {
		display: block;
	}
}

/* ----- Search Bar ----- */
.search-bar {
	margin: 0;
	padding: 15px 0;
	text-align:center;
	border-top: 1px solid #ddd;
}

.search-bar input::placeholder {
	color: #aaa;
}

.search-bar input {
	width: 50%;
	border: 1px solid #e52d27;
	padding: 4px 8px;
	margin: 0;
	text-align: center;
	font: normal 1rem Arial;
	line-height: 1.5rem;
	color: #333;
}

@media(max-width:767px) {
	.search-bar {
		border: none;
	}
	.search-bar input {
		width: 75%;
	}
}

.search-bar input:focus {
	outline-style: outset;
	outline-color: #e52d27;
}

.list-toggle {
	text-align: center;
	margin: 0 auto;
	padding: 0 0 7px;
	width: 70px;
}

@media(min-width:767px) {
	.list-toggle {
		display:none;
	}
}

.list-toggle .closed {
	border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
	margin: 0 0 5px 0;
  -webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.list-toggle .open {
	border: solid #999;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 5px;
	margin: 0;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

/* ----- Detail (player) ----- */
.video-detail {
	margin: 10px auto 0;
	max-width: 550px;
}

.video-detail .details {
	margin: 0;
	padding: 10px;
	font: normal .9rem Arial;
	color: #333;
}

.snippet {
	min-height: 50px;
}

/* ----- Search List ----- */
#wrap {
	border-bottom: 1px solid #ddd;
}

@media(max-width:767px) {
	#frame.open {
		padding: 3px 0;
		margin: 0 0 12px 0;
		border-bottom: 1px solid #ddd;
		height: 185px;
		-moz-transition-duration: 0.5s;
	  -webkit-transition-duration: 0.5s;
	  -o-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	}
	#frame.closed {
		padding: 0;
		margin: 0;
		border: none;
		height: 0;
		-moz-transition-duration: 0.5s;
	  -webkit-transition-duration: 0.5s;
	  -o-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	}
}

#frame {
	width: 100%;
	height: 180px;
	margin: 10px 0;
	padding: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
  overflow-x: auto;
	overflow-y: hidden;
}

#frame ul {
	white-space: nowrap;
	cursor: pointer;
	font:normal 16px Arial;
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style: none;
	height: 170px;
	width: 7035px;
}

#frame li {
	vertical-align: top;
	display: list-item;
	margin: 0 1px 0 0;
	padding: 0;
	width: 200px;
	height: 170px;
	white-space: normal;
	border-right: 1px solid #ddd;
	border-bottom: 2px solid #fff;
	cursor: pointer;
	float: left;
	color: #333;
}

@media(max-width:767px) {
	#frame li {
		width: 140px;
	}
}

.list-group-video:hover {
	background-color: #f7f7f7;
	border-bottom: 2px solid #e52d27;
}

.list-group-item:hover {
	cursor:pointer;
	background-color: #f7f7f7;
}

.video-list-media {
	float:left;
	margin:0;
	padding:5px 0;
}

.details-title {
	font-weight:bold;
	font-size:1.75rem;
	padding:10px;
	line-height: 1.2;
	min-height: 90px;
}

@media (max-width:767px) {
	.details-title {
		font-size: 1.5rem;
	}
}

.Save {
	padding: 10px 0;
	text-align: right;
}

.Saved {
	padding: 10px 0;
	text-align: right;
}

.Save button {
	padding: 5px 28px 5px 10px;
	color: #999;
	font-size: 16px;
	border: 1px solid #ddd;;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	background: #fff url(./../images/plus2.png) no-repeat center right;
}

.Saved button {
	padding: 5px 24px 5px 10px;
	color: #999;
	font-size: 16px;
	background-color: #fff;
	border: none;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	background: url(./../images/checkmark2.png) no-repeat center right;
}

.Save button:hover {
	background: #bbb url(./../images/plus5.png) no-repeat center right;
	color: #fff;
}

.Save button:active {
	background-color: #fff;
	color: #fff;
	border-color: #fff;
}

.Save button:focus {
	outline: 0;
}

.Saved button:focus {
	outline: 0;
}

.media-thumb img {
	margin: 0 auto;
}

.media-title {
	margin: 0;
	padding: 10px;
	font:bold 14px Arial;
	text-align: left;
	color: inherit;
	max-height: 60px;
	overflow: hidden;
}

/* ----- Saved ----- */
.video-save {
	margin: 25px auto 15px auto;
	max-width: 350px;
	background-color: #fff;
	text-align: center;
	border: 1px solid #ddd;
}

@media (max-width: 767px) {
	.video-save {
		margin-top: 0;
	}
}

.video-save .details {
	padding:0;
	margin: 0 .5rem 0 0;
	background-color:#ddd;
}

#slider-div.closed {
	overflow: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
	border: none;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#slider-div.open {
  height: 440px;
  overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	margin: 0 0 0 .5rem;
	padding: 0;
	-moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

@media(max-width:980px) {
	#slider-div.open {
		height: 350px;
	}
}

#arrow.closed {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
	margin:0 0 3px 8px;
  -webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#arrow.open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
	margin:0 0 0 8px;
  -webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	-moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.saved-trigger {
	text-align:center;
	font:bold 1rem Arial;
	color:#999;
	padding: .75rem 0;
	cursor: pointer;
}

.saved-item {
	background-color:#fff;
	list-style-type: none;
	cursor:pointer;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid #fff;
	color: #333;
}

.saved-item:hover {
	border-bottom: 2px solid #e52d27;
	background-color: #f7f7f7;
}

.saved-item:before {
	content: "";
	display: block;
	height: 1px;
	background-color: #ddd;
	width: 100%;
	margin: 0;
	padding: 0;
}

.saved-item:after {
	content: "";
	display: block;
	height: 1px;
	background-color: #ddd;
	width: 100%;
	margin: 0;
	padding: 0;
}

.saved-item .no-pad {
	padding: 0;
}

.saved-image {
	padding:0;
	margin: 0;
	text-align: center;
}
.saved-image img {
	max-width: 100%;
	padding-left: 10px;
}

.saved-text {
	text-align: left;
	color: inherit;
	height: 50px;
	overflow:hidden;
	font: normal .9rem Arial;
	padding: 5px 0 0 0;
}

/* ----- Delete button ----- */
.delete-button {
	margin: 0 20px 0 0;
	float:right;
	font-size: 14px;
}

.delete-button button {
	padding: 3px 8px;
	color: #999;
	font-size: 12px;
	border: 1px solid #ddd;;
	background-color: #fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.delete-button button:hover {
	background-color: #bbb;
	color: #fff;
}

/* ----- Scroll ----- */
::-webkit-scrollbar {
  width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e52d27;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-moz-scrollbar-thumb {
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e52d27;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

.footer {
	padding:10px;
	margin: 0;
	text-align:center;
	font: normal 12px Arial;
	color: #999;
	border-top: 1px solid #ddd;
}

.header {
	height: 6px;
	margin:0;
	padding:0;
}

/* ----- Flashy Background ----- */
/* ----- borrowed from Josh Depaolo ----- */
.flashy-bg {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(270deg, #e52d27, #fb3d36, #e52d27, #b51a15);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}
